.mask-bg {
    color: transparent;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    transition: color 0ms 450ms;
}

.mask-bg::after {
    background: linear-gradient(to right, #362ae0 0%, #3b79cc 50%, #42d3ed 100%);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, 100%);
}

.mask-bg.is-animated {
    color: #362ae0;
}

.mask-bg.is-animated::after {
    animation: mask-bg 1.2s cubic-bezier(0.8, 0, 0.170, 1);
}

@keyframes mask-bg {
    0% {
        transform: translate(0, 101%)
    }

    40%,
    60% {
        transform: translate(0, 0%)
    }

    100% {
        transform: translate(0, -100%)
    }
}