{{ define "title" }} {{ .Title }} &ndash; {{ .Site.Title }} {{ end }} {{ define "main" }}
<main>
    <!-- root直下の/content/post/内の記事を10個まで表示 -->
    <!-- rangeはループ -->
    <div class="hero is-large">
        <div class="hero-body">
            <div class="bg">
                <span class="mask-bg anim"><span class="inn">大宮北高校 3-1</span></span><br>
                <span class="mask-bg anim"><span class="inn">くまちゃんのドーナッツ屋さん</span></span>
              </div>
        </div>
    </div>
    <div class="m-3 box" style="font-size: 2vh">
        <br />
        <p class="my-2">販売日時:</p>
        <br />
        <p>9/2 (Fri)</p>
        <br />
        <p>9/2 (Sat)</p>
        <br />
        <p class="my-2">販売場所：</p>
        <br />
        <p>１年３組教室</p>
        <br />
        <br />
        <p class="has-text-centered">ご来場お待ちしています！</p>
    </div>
    <div class="hero" id="donuts">
        <div class="hero-body">
            <div class="title">ドーナツ</div>
        </div>
    </div>
    <div class="tile is-ancestor m-3 is-flex-wrap-wrap is-vertical" style="overflow-x: auto">
        <div class="tile">
            {{ $donuts := index .Site.Taxonomies.categories (lower "donuts") }}{{ range $donuts }}

            <!-- list.htmlを読み込む -->
            {{ .Render "list"}} {{ end }}
        </div>
    </div>
</main>
{{ end }}
